.ColorBox {
    width: 20%;
    height: 25%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: -5px,
    
}

@media screen and (max-width: 991.98px) {
    .ColorBox {
        width: 25%;
        height: 20%;
        }
    }


@media screen and (max-width: 767.98px) {
.ColorBox {
    width: 50%;
    height: 10%;
    }
}

@media screen and (max-width: 576.98px) {
    .ColorBox {
        width: 100%;
        height: 5%;
        }
    }


    

.SingleColorPalette .ColorBox {
    height: 50%;
    margin-bottom: -4px;
    background-color: black;
}

@media screen and (max-width: 991.98px) {
    .SingleColorPalette   .ColorBox {
        width: 20%;
        height: 50%;
        } 
    }


@media screen and (max-width: 767.98px) {
    .SingleColorPalette .ColorBox {
        width: 50%;
        height: 20%;
        }
    }
    
    @media screen and (max-width: 576.98px) {
        .SingleColorPalette .ColorBox {
            width: 100%;
            height: 10%;
            } .copy-message h1 {
                font-size: 5rem;
            }
        }
    

 

.copy-button, .back-button{
    width: 100px;
    height: 30px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left:50%;
    margin-left: -50px;
    margin-top: -15px;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    border:none;
    opacity: 0;
}

.back-button{
    opacity: 1;
}


.ColorBox:hover .copy-button{
    opacity: 1;
    transition: 0.5s;
}

.box-content{
    position: absolute;
    padding: 0px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}

.light-text{
    color:white;
}

.ColorBox .dark-text{
    color: rgba(0,0,0, 0.5);
}

.see-more{
    background-color:  rgba(255, 255, 255, 0.3);
    position: absolute;
    border: none;
    bottom: 0px;
    right: 0px;
    color: white;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
}

.copy-overlay{
    opacity: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.7s ease-in-out;
    transform: scale(0.1);
}

.copy-overlay-show {
    opacity: 1;
    transform: scale(50);
    z-index: 10;
    position: absolute;
}

.copy-message {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
    transform: scale(0.1);
    opacity: 0;
    color: white;
}

.copy-message-show{
    opacity: 1;
    transform: scale(1);
    z-index: 25;
    transition: all 0.4s ease-in-out;
    transition-delay: 0.2s;
}

.copy-message h1 {
    font-weight: 400;
    text-shadow: 1px 2px black;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    padding: 1rem;
}

.copy-message p {
    font-size: 2rem;
    font-weight: 100;
}