<h1> Models </h1>


<h2> >New Guardian model : </h2> 
running with elongated back antennas and flowing clothes. 
Plethora of options: different sleeker rifles, dual pistols in the same style, chainswords. Leader has coat.


<h2>New Rangers: </h2> 
harlequinesque hoods, close combat weapons in addition to rifles, elongated antennas

<h2>New Striking Scorpions: </h2>
 similar to old models, but greater variance of poses, Exarch’s chainsword is inbuilt in his gauntlet. Leader model has chainsword klaive

 <h2>Karandras:</h2> Slightly crouching on top of ruins. 
 The claw is even smaller than the old version, but the chainsword is massive. 
 The segmentation of the scorpion helm is similar to the drukhari armour style, 
 but the rest is craftworld style with these yellow scorpion bars, except that karandras is in a very dark green and the bars are bone colored. 
 There is a pictures of this miniature and Drazhar next to each other and the arc on the base is a continuation of on of Drazhar’s stone arcs


 <h2>Asurmen:</h2>Similar to the old model, but helmet is more layered-samurai-like and he stands on a huge column with a relief of battling eldar

 <h2>Dire Avengers leader:</h2> one to one 2nd edition cover rendition

 <h2>Howling banshee:</h2> jumping in mid air, cloaked with flowing strips not unlike spectres but horizontally, glaive

 <h2>New Warp spiders:</h2>  high heads with multiple eyes. Smaller backpack with web effect. Smaller sleeker weapon,
  held by two additional mechanical arms. Phoenix Lord has four additional mechanical arms and is held by two of them on a web of wraithbone in a monklike pose

 <h2>New Vypers:</h2> larger jetbike canopy with standard jetbike middle section and rider. rear is split. 
 each side with intake, jet and large wing. In the middle is a ‘gyroscopic harness’ of three halfcircles and a shooter/heavy weapon. 
 There is a variant with wraithbonetendrils held by lightning between the sides instead of the weapon, rider has hammer and blindfold

 <h2>New Shining Spears: </h2> standard jetbikes with underslung smaller canopy that bends on one side upwards to shield the rider, very short wings,
  but huge hair tail from rear, rider has multilayered plates like water ripples, knightly helmet with huge antlers, laserlances. 
  There is a variant without the additional, upside-down canopy with Guardian helmets, axes, larger wings in the form of the Avatar helmet

<h2>Diorama: vyper and two jetbikes </h2>  with axes in V formation balances on tree stump, falling leaves with turbulences from the jetbikes makes this very dynamic. The trio is connected with cables and they pull a mini webway portal.


<h2> Models not changing </h2>
Warlocks, Dire Avengers, Falcons, Wraithguards, Fire Dragons, Swooping Hawks are the same. The latter has a new leader (Hierarch) with a pet bird, though.

<h2> Hierarch </h2> New Swooping Hawks

<h2> Avatars</h2>
There are two Avatar pictures, probably Forgeworld conversions, one with an axe and a blood weeping Horus mask. The other with female chest, burning veil and glaive and stump for the other hand.

<h1> Rules </h1>

<h2> craftworld</h2>
Ulthwe, Alaitoc (additional meditations and can make two terrain features dense), 
Saim Hann, Iyanden and Yme-Loc! (get exclusively the Expert Crafters trait and -1 dmg for non-aircraft vehicles) 
get half a page each. 2 pages for built-a-craftworld, Biel Tan has a whole page with a custom Court of The Young King hero hammer HQ-only detachment. 


<h2> Ynnari</h2>
Almost two pages with their trait (bonus CP for every destroyed unit, capped at three, that can be spent on Command Reroll, Insane Bravery or Counteroffensive in the same round with an addendum when not
 battleforged that I skipped), a couple of relics, but only a single stratagem (resurrection for 2CP) and a list of drukhari/harlequin models that can be included as mercenaries.


 <h2>Crusade </h2>: all there, but haven’t spent time on it. The same for relics, but vehicle upgrades are now relics for vehicles.


 <h2>Stratagems </h2>: celestial shield and seer council, forwarned are gone, Fire and Fade is still 1CP. There is a new 3CP one that lets all aspect units that have another one in 6” reroll wounds.



 <h2> 4 psychic tables:</h2>
 <ul>
     <li>runes of destruction (doom, jinx, eldritch storm, drain, mind war, executioner    </li>
     <li>runes of war (destructor, flail, protect, horrify, enhance, quicken)    </li>
     <li>runes of fate (guide, fortune, conceal, forwarning, and two more)</li>
     <li>runes of the revenant. (ghostwalk, storm of whispers, shield of ynnead, enliven, word of the phoenix, unbind souls)</li>

 </ul>


 <h2> 3 tables of warlord traits: aspect, ynnari and generic.</h2>


 <h2> Upgrade </h2>

 Farseer can be upgraded to high farseer, knows/casts/denies additional power. Autarch upgrade gives them a shrine creed and +2 attacks if enough models in 2”. Hierarchs can become Disciples of Asurmen, giving them a 4++

Objectives are: enemy unit destroyed by attacks of two/three or more friendly units in a turn, enemy characters/monsters killed by own aspect characters and one that gives you VP if the enemy holds one designated objective

Army wide rules

some deployment rules that I skipped sadly

Battle Focus: ignores the first negative shooting modifier and resolves the rest normally

Path of Asuryan: this one is long, complicated and it would be a miracle if I got everything correct or complete. The rules text alone consists of some dense paragraphs and the list of traits is four pages long with a couple of categories. Units can choose traits from a certain category and no trait can be picked twice. But there are lots of exceptions, though. It seems that wraith units put the rule on its head and all units must choose the same trait. When a phoenix lord is part of the detachment, aspect units can take the same trait. Aspects units without an exarch are also exempt. There is a rules text for ynnari, but I can't remember what it was.

There are Lamentations, meditations, shrine creeds and exarch powers.

There is a lamentation that gives a unit deep strike, but there are not that many traits. Meditations are more plentiful. The path of the acrobat gives advance bonus, path of the arbiter, MW on dice roll when wound is mitigated after taking saves, path of the warlock: can take powers from the runes of war. an ynnari only one makes an autarch a level 1 psyker. Path of the Black Guard is Ulthwe only, gives 6” more range. There are many more. this is speculation: I think they represent former path experiences, since some model have rules like: Path of Farseer/Command etc: yaddayadda, in addition, can take up to one meditation. Speaking of which: Path of command is unchanged, but not an army wide rule, but only for the autarch with wings. The autarch on jetbike doesn’t have this and Yriel has Path of the Outcast (deploy after both armies are deployed). But I should stop here. I will describe what I could remember about the datasheets later.

All aspects have three bespoke shrine creeds that are all very powerful and a couple of unaligned ones. Then there are a dozen Exarch powers that are all unaligned, with only one locked for biel tan armies. Scorpions have one creed that lets them advance and charge if movement starts in terrain. Dark reaper shrine creeds: indirect fire with single shot, additional shot within 18", krak shot available and reroll hits on 1. There is one generic that allows to reroll charges. Some exarch powers are simple stat modifiers.

Unit entries:

entries for the Ynnari triumvirate

Farseer: still 2 powers. Witchblade is S+2 AP-2 D2 now. Path of the Farseer: +2 to all psychic tests, two meditations

Solo warlocks and spirit seers can also cast 2 powers, but only deny one. spirit seers draw from revenant runes discipline

Avatar: 14 wounds, different equipment options

Damanhalla: warp spider phoenix lord. all phoenix lords present, all I have seen in detail have 4++, have missed the Karandras profile unfortunately

Hierarchs: 4 separate HQ entries for Striking Scorpions, Swooping Hawks, Howling Banshees and Dire Avengers. Female models except the scorpion. Haven’t found their fluff, so don’t know what exactly they are. But they get three exarch powers and have one attack more than an autarch (5)

Something Swordwind, named Swooping Hawk Hierarch, Biel Tan, just the Hawk Hierarch with a scimitar and a bare head, mohawk and a shooting weapon that is mainly out of picture but has a skull pommel

Asurmen: has two seperate set of rules. Only martial harmony rule is in both, no limitations for shrine creeds. Starts every (own?) turn with an aura, 3++, parry, fallback and do stuff. And can switch when aspect warrior destroys unit or model (don't remember which): +2 attacks, reroll hits and wounds, shoot twice with D3, reroll charge

Fireheart: Saim hann jetbike diorama character, resurrects at start of round unless enemy deals additional damage against dummy. The only picture is in the small datasheet bubble, so not much to see, except that it pulls a molten heart and fire wings and the riders have fiery axes. There are another two unit entries, that are only shown in the datasheet section:

both are a single Wraithguard sized model with avatar-like molten skin, burning shoulders. One is called Embers of Khaine and agonized eldar sized head with flame hair, dagger and blood bowl in hand, loose chains around wrist. melee infantry with high single digit wounds, two or three shrine creeds from any aspects, and exploding 6 melee aura.

anvil of souls, yme-loc specific, same body, but two-handed hammer in hand and no chains. repairs vehicles and deals MW to enemy vehicles

Striking Scorpions: Chainsword: +1 -2 D1, 2 additional attacks. Mandiblaster: in first round of combat: chainswords have +1 damage. I find this very unfluffy.

Warp spiders: flat 12" move, enemy units shot at cannot advance or take actions - the same rule is on other spinner stuff, no CP cost for Fire & Fade

Wraithguard split: Wraithcannon elite, d-scythe troops. d-scythe assault flat6, does need to roll to hit. Can use old D6 auto-hit profile only during overwatch

Dire Avenger/Guardians: both 4+ Save, Shuriken catapult Assault 3 18" S4, AP-1, Only Dire Avengers have the AP on 6 rule. Dire Avengers are the only (or the only one I am aware of) that have a baked in shrine creed and can take another: Defend(+1 Sv against attacks from units within 24")

Corsairs: elite infantry, plethora of options, brace of las pistols, lasblaster, melee weapons, deep strike, two traits, lasweapons, including scatterlasers etc. can shoot twice if at least one lasshot of unit hits. Second salvo hits automatically if it is the same target.

Rangers: cannot be targeted by units when no enemy unit is within 18" at all when in terrain. Can shoot twice as long as pathfinder leader lives

Windrider Fireblades: windriders with more attacks and power axes

Vyper: reroll to hits when advanced and moved full

Anvil of Something: wraith, vyper with power fist with MW aura

Wild Rider Host: fast melee unit with 9 wounds and transport capacity for aspect units

Support weapons: troop size flat 1, vibro cannon extra damage against units in terrain

Wave Serpent field is now 5++

No Storm Guardians and Jetbike Conclaves entries if it isn’t hidden as an option somewhere.

The only point costs I remember are wraith knights are now 420 points base and guardians are 9 points





<a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
  <img src="https://www.warhammer-community.com/wp-content/uploads/2022/01/2nJSPdeO6JH5W0J2.jpg" class="img-responsive" alt="warhammer rumour pre orders"> </a>







  <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
    <img src="https://www.games-workshop.com/resources/catalog/product/920x950/60010299031_FuryDeepLead.jpg" class="img-responsive" alt="warhammer rumour pre orders"> </a>
  


  <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
    <img src="https://www.games-workshop.com/resources/catalog/product/600x620/60120713002_WHUWBlackpowdersBuccaneersLead.jpg" class="img-responsive" alt="warhammer rumour pre orders"> </a>
  

    <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
      <img src="https://www.games-workshop.com/resources/catalog/product/600x620/99220901011_BBNURPitchandDugoutsLead.jpg" class="img-responsive" alt="warhammer rumour pre orders"> </a>
  
      


      <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660">  Link to Wayland </a>
  
        

        <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
          <img src="" class="img-responsive" alt="warhammer rumour pre orders"> </a>
  
          
          <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
            <img src="" class="img-responsive" alt="warhammer rumour pre orders"> </a>
          

            <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
              <img src="" class="img-responsive" alt="warhammer rumour pre orders"> </a>
            




              https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660



              <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                <img src="https://i.imgur.com/zpW4fHK.jpg" class="img-responsive" alt="warhammer rumour pre orders"> </a>
        
                
              <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                  <img src="https://i.imgur.com/v6tFWcR.jpg" class="img-responsive" alt="warhammer rumour pre orders"> </a>
                
      
              <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                    <img src="https://i.imgur.com/jRwnsE0.jpg" class="img-responsive" alt="warhammer rumour pre orders"> </a>
            
                    
              <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                      <img src="https://i.imgur.com/pn9BCQv.jpg" class="img-responsive" alt="warhammer rumour pre orders"> </a>
              
                      
              <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                        <img src="https://i.imgur.com/NGy9enV.jpg" class="img-responsive" alt="warhammer rumour pre orders"> </a>
                      
            
             <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                          <img src="https://i.imgur.com/TOakWsN.jpg" class="img-responsive" alt="warhammer rumour pre orders"> </a>
            
                          

             <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                            <img src="https://i.imgur.com/6VZ7ZcZ.jpg" class="img-responsive" alt="warhammer rumour pre orders"> </a>
                    
                            
             <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
               <img src="https://i.imgur.com/nsBht8S.jpg" class="img-responsive" alt="warhammer rumour pre orders"> </a>
                            
                  
             <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                 <img src="https://i.imgur.com/ihyMHw7.jpg" class="img-responsive" alt="warhammer rumour pre orders"> </a>
            
                                

              <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                  <img src="https://www.games-workshop.com/resources/catalog/product/920x950/60010199043_EngEldtrichOmensGroup02.jpg" class="img-responsive" alt="warhammer rumour "/>
                </a>
                          




        
                <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                  <img src="" class="img-responsive" alt="warhammer rumour "/> </a>
                    
                  
                  <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                    <img src="" class="img-responsive" alt="warhammer rumour "/> </a>
                    

                ////////////////////////////////////


                Warcry : 
                                  
              <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                <img src="https://www.games-workshop.com/resources/catalog/product/600x620/01040299118_FreWCTomeofChampions01.jpg" class="img-responsive" alt="warhammer rumour "/> </a>
                                  
                <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                  <img src="https://www.games-workshop.com/resources/catalog/product/600x620/99120201136_WCSlaaneshSybaritesLead.jpg" class="img-responsive" alt="warhammer rumour "/> </a>
                            
                  <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                    <img src="https://www.games-workshop.com/resources/catalog/product/600x620/99120209105_WCKruleboyzLead.jpg" class="img-responsive" alt="warhammer rumour "/> </a>
                                  
                    
                    <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                      <img src="https://www.games-workshop.com/resources/catalog/product/600x620/99120212029_WCDoKLead.jpg" class="img-responsive" alt="warhammer rumour "/> </a>
                                  
                      
                      <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                        <img src="https://www.games-workshop.com/resources/catalog/product/600x620/99120218076_WCThunderstrikeSCELead.jpg" class="img-responsive" alt="warhammer rumour "/> </a>
                                  
                        
                        <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                          <img src="https://www.games-workshop.com/resources/catalog/product/600x620/99120210047_WCLRLordsLead.jpg" class="img-responsive" alt="warhammer rumour "/> </a>
                                  
                          
                          <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                            <img src="https://www.games-workshop.com/resources/catalog/product/600x620/60249999615_EngWD47301.jpg" class="img-responsive" alt="warhammer rumour "/> </a>


                      
                                  
                            Zone Mortalise
                            <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                              <img src="https://www.games-workshop.com/resources/catalog/product/600x620/99120599032_NECZoneMortalisUnderhiveSectorLead.jpg" class="img-responsive" alt="warhammer rumour "/> </a>
                                  
                      
                                  
                        
                 wayland banner 
               <a href="https://affiliates.waylandgames.co.uk/idevaffiliate.php?id=823&url=2660"> 
                <img src="https://i.imgur.com/XPppGbd.jpg" class="img-responsive" alt="warhammer rumour pre orders"> </a>
                                    