.NavBar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 6%;

}



.logo{
    margin-right: 15px;
    padding: 0 13px;
    font-size: 22px;
    background-color: #eceff1;
    font-family: Roboto;
    height: 100%;
    display: flex;
    align-items: center;
    
    
}

@media screen and (max-width: 576.98px) {
    .logo {
        display: none;
    }
}

@media screen and (max-width: 767.98px) {
    .logo {
font-size: 0.8rem;    }
}


.logo a {
    text-decoration: none;
    color: black;
}


.slider-container{
    width: 340px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slider-container span {
    width: 100px;
}

.Select-container{
  margin-left: auto;  
  margin-right: 1rem;
}
